<div style="background-color:silver">
<p>Hello <%= @user.name %> </p> 
<p>Thank you for choosing Carmine. Thank you for choosing Carmine. The link below is your ticket to an improved fleet experience. With over 15 years of experience of fleet management around the world, Carmine has brought its wisdom and technology to you.</p> 

<p>Our vision is to bring the most intelligent and intuitive solution for business owners like yourself. We are here to partner with you and improve your business. Please use the link below to complete your order. Please use the link below to complete your order.</p> 

<a href="<%= @user.title %>">Carmine Checkout</a> 


<br>
<br>
<br>
<hr width="60%">

<p>Please take a moment to insure that the information you submitted to us is accurate.</p> 
<p><strong>Address:</strong> <%= @user.address %></p> 
<p><strong>Company:</strong> <%= @user.company %></p> 
<p><strong>Fleet Size:</strong> <%= @user.fleetsize %></p> 
<p><strong>Phone Number:</strong> <%= @user.phone %></p> 

<p>Thanks.</p>
<p>Carmine.</p>
</div>
